.mybooking{
    width: 100%;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card{
    width: 300px;
    margin-top: 20px !important;
}
.bg-blue{
background-color: #bacee9;
}
